- title = 'Cơ cấu tổ chức'
- provide(:about_menu, 'current')
- provide(:title, title)
- wiselinks_title(full_title(title))
= render 'layouts/sub_header', title: title
:javascript
  $(function(){
    setCurrentMenu('about');
  })
#main
  .content.sub.full
    %table
      %tbody
        %tr
          %td
            %strong Giám đốc
          %td : Ông Tăng Ngọc Mỳ (SĐT : 0913 578 496)
        %tr
          %td
            %strong Phó giám đốc điều hành
          %td : Ông Tăng Ngọc Huy
        %tr
          %td
            %strong Kế toán trưởng
          %td : Bà Diễm Xuân
        %tr
          %td
            %strong Tổng số cán bộ, công nhân viên chức
          %td : 500 người
    %p/
    %h6 SƠ ĐỒ TỔ CHỨC
    %div
      %img.aligncenter{alt: "Sơ đồ tổ chức", src: image_path("so-do-to-chuc.png",
        title: "Sơ đồ tổ chức")}/