.line
#contact-banner
  .banner
    %a.contactbutton.alignright{href: contact_path, title: "Liên hệ", "data-push" => :true} Liên hệ
    Tel: 0333 870 634 - Mobile: 0913 578 496
  .line
#footer
  .part1
    Copyright © 2013 Công ty TNHH Huy Mạnh.
  .part2
    %ul
      %li
        = link_to "Justin Vu", "http://www.justinvu.com", target: "_blank"