.clear
.sub_header
  .left
    %h2
      = title
      %br/
    .breadcrumb
      %a{href: root_path, title: "Cầu biển Huy Mạnh", :data => {:push => true}} Home
      \\
      = title
      %br/
  .clear
.line.margin